---
import type { GetStaticPaths } from "astro";
import BlogPost from "../../components/BlogPost.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

import "../../styles/global.css";

import { getCollection, type CollectionEntry } from "astro:content";

export const getStaticPaths = (async () => {
  const allPosts = await getCollection('posts');

  const tags = allPosts.flatMap((post) => post.data.tags);

  return Array.from(new Set(tags)).map((tag) => ({
    params: { tag },
    props: {
      tagPosts: allPosts.filter((post) => post.data.tags.includes(tag)),
    },
  }));
}) satisfies GetStaticPaths;

const { tagPosts } = Astro.props as { tagPosts: CollectionEntry<'posts'>[] };

const { tag } = Astro.params;
---

<BaseLayout pageTitle={tag!}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {
      tagPosts.map((post) => (
        <BlogPost url={post.slug!} title={post.data.title} />
      ))
    }
  </ul>
</BaseLayout>
