---
const platform = "github";
const username = "Marknjo";
---

<footer>
  <p>
    Learn more about my project on <a
      target="_blank"
      referrerpolicy="origin"
      href={`https://www.${platform}.com/${username}`}
      >{platform.slice(0, 1).toLocaleUpperCase()}{platform.slice(1)}</a
    >
  </p>
</footer>
