---
import Social from "./Social.astro";
---

<footer>
  <p>Learn more about my project on</p>
  <nav>
    <Social platform="github" username="Marknjo" />
    <Social platform="twitter" username="marknjo" />
    <Social platform="youtube" username="@thetalkingdev" />
  </nav>
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 2rem;
  }

  p {
    margin: 0;
  }

  nav {
    display: flex;
    gap: 8px;
  }
</style>
